.adminContainer h3 {
    margin: 0.7rem 0;
}

.adminContainer .adminButton {
    font-family: "VT323", monospace;
    font-size: 1.2rem;
    background: #BFBFBF;
    border-bottom: 2px solid #181818;
    border-right: 2px solid #181818;
    padding: 0.2rem 1.2rem;
}

.marginBottom {
    margin-bottom: 1.2rem;
}

.marginLeft {
    margin-left: 1.2rem;
}

.marginTop {
    margin-top: 1.2rem;
}
