.tinyIconWrapper {
  height: 20px;
  overflow:hidden;
  display: inline-block;
}

.tinyIcon {
  width: 20px;
}

.postHeader {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.postMedia {
  max-width: 600px;
  max-height: 600px;
  margin: 0 auto;
  display: block;
}

.lesserPost {
  color: rgb(59, 59, 59);
}