.postHeader {
  font-size: 0.875em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding-top: 5px;
}

.postHeader>* {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.postHeader .handle {
  flex-shrink: 2;
}

.postHeader .timestamp {
  flex-shrink: 4;
}

.postBody {
  overflow-wrap: break-word;
  overflow: hidden;
  margin-bottom: 0;
}

.postBody .centered {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.profileLink {
  color: var(--contrast);
  text-decoration: none;
}

.profileLink:hover {
  text-decoration: underline;
}

a.timestamp {
  text-decoration: none;
}

a.timestamp:hover {
  text-decoration: underline;
}


.postMedia {
  max-width: min(600px, 100%);
  max-height: 600px;
  margin: 0 auto;
  display: block;
}

.lesserPost {
  margin: 0 40px 5px 40px;
}

.muted {
  color: var(--muted-color);
}

@media screen and (max-width: 679px) {
  .postHeader {
    flex-wrap: wrap;
  }
  .lesserPost {
    margin-left: 10px;
    margin-right: 10px;

  }
}
