.userContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.userContainer h2, .userContainer h3 {
  margin: 0;
}

.profileSummary {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 679px) {
  .profileSummary {
    width: calc(100vw - 20px);
  }
}