.avatarPreview {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
}

img.avatarPreview {
  object-fit: contain;
}

.avatarPreview.large {
  max-width: min(500px, 90%);
  height: 500px;
}

.avatarPreview.medium {
  max-width: min(300px, 90%);
  height: 300px;
}

.avatarPreview model-viewer {
  height: 100%;
}

.coverAvatar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.insetAvatar {
  position: absolute;
  inset: auto 0 0 0;
  text-align: center;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 24px;
  font-weight: 800;
}

.activate3d {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.showOnHover {
  opacity: 0;
}

.showOnHover:hover {
  opacity: 0.75;
}

model-viewer::part(default-ar-button) {
  top: 16px;
  bottom: unset;
}