.iconWrapper {
  max-width: 500px;
  overflow: hidden;
}

.icon {
  height: 500px;
}

.tinyIconWrapper {
  height: 39px;
  overflow:hidden;
  display: inline-block;
}

.tinyIcon {
  width: 39px;
}

@media screen and (max-width: 679px) {
  .iconWrapper {
    max-width: 100vw;
  }
}
