.iconWrapper {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
}

.icon {
  height: 500px;
}

.medIconWrapper {
  display: flex;
  justify-content: center;
  max-width: 300px;
  margin: 0 auto;
  overflow: hidden;
}

.medIcon {
  height: 300px;
}

.tinyIconWrapper {
  height: 39px;
  overflow:hidden;
  display: inline-block;
  vertical-align: middle;
}

.tinyIcon {
  width: 39px;
}

@media screen and (max-width: 679px) {
  .iconWrapper {
    max-width: 100vw;
  }
}
