.loginButton {
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-family: "VT323", monospace;
  background: #BFBFBF;
  border-bottom: 2px solid #181818;
  border-right: 2px solid #181818;
  padding: 0.2rem 1.2rem;
  margin-left: 1.2rem;
}

.loginButton img {
  max-height: 25px;
  margin: 0.2rem 0.5rem -0.3rem -0.8rem;
}