<!DOCTYPE html>
<html style="background-color: #5d8dc4;">
  <head>
    <title>{% block title %}Medieval Castle Club{% endblock %}</title>
    <!-- FOUC protection -->
    <style>body {display: none;}</style>
    <link rel="stylesheet" type="text/css" href="/static/aesthetic.css">
    <link rel="stylesheet" type="text/css" href="/static/immers.css">
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&family=VT323&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="aesthetic-effect-crt bg"></div>
    <div class="content">
      {% block header %}
        <h1 class="aesthetic-50-transparent-color">Medieval Castle Club</h1>
      {% endblock %}
      <div class="aesthetic-windows-95-modal">
        <div class="aesthetic-windows-95-modal-title-bar">
          <div class="aesthetic-windows-95-modal-title-bar-text">
            {% block contentTitle %}{% endblock %}
          </div>
        </div>
        <div class="aesthetic-windows-95-modal-content">
          <hr />
          {% block content %}{% endblock %}
        </div>
      </div>
      <h1>&nbsp;</h1> <!-- balances layout with title -->
    </div>
    
    <div class="attribution">
      <a class="aesthetic-green-color" href="https://sketchfab.com/models/06d5a80a04fc4c5ab552759e9a97d91a">Background: Medieval Fantasy Book by Pixel on Sketchfab</a>
    </div>
    {% block script %}{% endblock %}
  </body>
</html>
