<!DOCTYPE html>
<html style="background-color: {{ backgroundColor }};">
  <head>
    <script>
      window._serverData = {
        domain: '{{ domain }}',
        name: '{{ name }}',
        imageAttributionUrl: '{{ imageAttributionUrl }}',
        imageAttributionText: '{{ imageAttributionText }}',
        username: '{{ username }}',
        immer: '{{ immer }}',
        clientName: '{{ clientName }}',
        redirectUri: '{{ redirectUri }}',
        transactionId: '{{ transactionId }}',
        loggedInUser: '{{ loggedInUser }}'
      }
    </script>
    <title>{% block title %}{{ name }}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=670, initial-scale=0.5">
    {% if monetizationPointer %}
    <meta name="monetization" content="{{ monetizationPointer }}">
    {% endif %}
    <style>
      {% if googleFont %}
      #body h1 { font-family: '{{ googleFont }}', monospace; }
      {% endif %}
      {% if backgroundImage %}
      #body .bg { background-image: url('{{ backgroundImage }}'); }
      {% endif %}
      {% if backgroundColor %}
      #body .bg { background-color: {{ backgroundColor }}; }
      {% endif %}
    </style>
  {% if googleFont %}
    <link href="https://fonts.googleapis.com/css2?family={{ googleFont }}&family=VT323&display=swap" rel="stylesheet">
  {% else %}
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  {% endif %}
    {% block head %}{% endblock %}
  </head>
  <body id="body">
    {% block content %}{% endblock %}
    {% block script %}{% endblock %}
  </body>
</html>
