<!DOCTYPE html>
{% if baseTheme %}
<html data-theme="{{ baseTheme }}" style="background-color: {{ backgroundColor }};">
{% else %}
<html style="background-color: {{ backgroundColor }};">
{% endif %}
  <head>
    <script>
      window._serverData = {
        domain: '{{ domain }}',
        name: '{{ name }}',
        hub: '{{ hub[0] }}',
        homepage: '{{ homepage }}',
        imageAttributionUrl: '{{ imageAttributionUrl }}',
        imageAttributionText: '{{ imageAttributionText }}',
        username: '{{ username }}',
        immer: '{{ immer }}',
        clientName: '{{ clientName }}',
        redirectUri: '{{ redirectUri }}',
        transactionId: '{{ transactionId }}',
        loggedInUser: '{{ loggedInUser }}',
        preferredScope: '{{ preferredScope }}'.split(' '),
        emailOptInURL: '{{ emailOptInURL }}',
        loginTab: '{{ loginTab }}',
        enablePublicRegistration: '{{ enablePublicRegistration }}',
        baseTheme: '{{ baseTheme }}',
        customTheme: '{{ customTheme }}'
      }
      {% if icon %}window._serverData.icon = '/static/{{ icon }}'{% endif %}
    </script>
    <title>{% block title %}{{ ogTitle if ogTitle else name }}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if twitterEmbed %}
    <meta name="twitter:card" content="player"/>
    <meta name="twitter:player:width" content="{{ twitterEmbed.width }}"/>
    <meta name="twitter:player:height" content="{{ twitterEmbed.height }}"/>
    <meta name="twitter:player" content="{{ twitterEmbed.url }}"/>
    {% endif %}
    {% if ogTitle %}
    <meta property="og:title" content="{{ ogTitle }}"/>
    {% endif %}
    {% if ogDescription %}
    <meta property="og:description" content="{{ ogDescription }}"/>
    {% endif %}
    {% if ogImage %}
    <meta property="og:image" content="{{ ogImage }}"/>
    {% endif %}

    {% if icon %}
    <link rel="icon" href="/static/{{ icon }}">
    {% endif %}
    {% if monetizationPointer %}
    <meta name="monetization" content="{{ monetizationPointer }}">
    {% endif %}
    <style>
      :root {
      {% if backgroundImage %}
        --backdrop-image-url: url('/static/{{ backgroundImage }}');
      {% endif %}
      {% if backgroundColor %}
        --backdrop-color: {{ backgroundColor }};
      {% endif %}
      }
      {% if googleFont %}
      #body h1 { --font-family: '{{ googleFont }}', monospace; }
      {% endif %}

    </style>
  {% if googleFont %}
    <link href="https://fonts.googleapis.com/css2?family={{ googleFont }}&family=VT323&display=swap" rel="stylesheet">
  {% else %}
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  {% endif %}
    {% block head %}{% endblock %}
    <style id='custom-theme'>
      :is(:root, #root) {
        {{ customTheme }}
      }
    </style>
  </head>
  <body id="body">
    {% block content %}{% endblock %}
    {% block script %}{% endblock %}
    {% if customCSS %}
      <link rel="stylesheet" href="/static/{{ customCSS }}">
    {% endif %}
  </body>
</html>
