<!DOCTYPE html>
<html>
  <head>
    <title>immers.space</title>
    <link rel="stylesheet" type="text/css" href="/static/aesthetic.css">
    <link rel="stylesheet" type="text/css" href="/static/immers.css">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&family=VT323&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="aesthetic-effect-crt bg"></div>
    <div class="content">
      <h1 class="aesthetic-50-transparent-color">immers.space</h1>
      <div class="aesthetic-windows-95-modal">
        <div class="aesthetic-windows-95-modal-title-bar">
          <div class="aesthetic-windows-95-modal-title-bar-text">
            Login to your immers profile
          </div>
        </div>
        <div class="aesthetic-windows-95-modal-content">
          <hr />
          <div class="aesthetic-windows-95-tabbed-container">
            <div class="aesthetic-windows-95-tabbed-container-tabs">
              <div class="aesthetic-windows-95-tabbed-container-tabs-button is-active">
                <button>
                  Login
                </button>
              </div>
              <div class="aesthetic-windows-95-tabbed-container-tabs-button">
                <button>
                  Register
                </button>
              </div>
            </div>

            <div class="aesthetic-windows-95-container">
              <div class="aesthetic-windows-95-container-indent">
                <form action="/login" method="post">
                  <div class="form-item">
                    <label>Immers handle:</label>
                    <input id="handle" class="aesthetic-windows-95-text-input"
                          type="text" name="username"
                          placeholder="username@your.immer"/><br/>
                  </div>
                  <div id="password" class="form-item hidden">
                    <label>Password:</label>
                    <input class="aesthetic-windows-95-text-input" type="password" name="password" />
                  </div>
                  <div class="form-item">
                    <span id="next" class="aesthetic-windows-95-button">
                      <button>Next</button>
                    </span>
                    <span id="submit" class="aesthetic-windows-95-button hidden">
                      <button>Login</button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h1>&nbsp;</h1> <!-- balances layout with title -->
    </div>
    
    <div class="attribution">
      <a class="aesthetic-green-color" href="https://www.vecteezy.com/free-vector/vector">Background: Vectors by Vecteezy</a>
    </div>
    <script>
      const handle = document.getElementById('handle')
      const pwd = document.getElementById('password')
      const next = document.getElementById('next')
      const submit = document.getElementById('submit')
      // lookup user
      next.addEventListener('click', evt => {
        document.body.classList.add('fetching')
        next.querySelector('button').setAttribute('disabled', true)
        evt.preventDefault()
        lookup(handle.value)
      })

      function lookup (handle) {
        const url = new URL(`https://${window.location.host}/auth/user-home`)
        url.search = new URLSearchParams({ handle }).toString()
        window.fetch(url)
          .then(res => res.json)
          .then(res => {
            if (!res.redirect) {
              document.body.classList.remove('fetching')
              pwd.classList.remove('hidden')
              submit.classList.remove('hidden')
            } else {
              // go to auth flow at users home immer, returning to this hub after
              window.location = res.redirect
            }
          })
      }
    </script>
  </body>
</html>
