#roleOptions {
  display: flex;
  justify-content: space-around;
}

.roleOption {
  margin: 0 8px;
}

.roleOption input {
  display: block;
  width: 100%;
  height: 24px;
}

.permissionsInfo {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.permissionsHeader {
  text-align: center;
}

.permissionsContainer {
  margin-top: 15px;
}

.permissionsInfo li {
  font-size: 20px;
  line-height: 80%;
  padding-bottom: 3px;
}