#roleOptions {
  display: flex;
  justify-content: space-around;
  margin-bottom: var(--block-spacing-vertical);
}

.roleOption {
  margin: 0 8px;
}

.roleOption input {
  display: block;
  margin: 0 auto;
  height: 24px;
}

.permissionsHeader {
  text-align: center;
}

.permissionsContainer {
  /* keep the li markers off the edge */
  margin-left: var(--spacing);
}

/* lower the min width for horizontal grid for this view */
@media (min-width: 768px) {
  #authorization-dialog .grid {
      grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
  }
}