$semantic-root-element: '#app';
@import "@picocss/pico/scss/pico";

body {
  margin: 0;
}

/* trim a little of spacing around the site title */
#app>header {
  padding-bottom: 0;
  h1 {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 0;
    text-align: center;
  }
}

// body, input {
//   font-family: 'VT323', monospace;
//   font-size: 24px;
// }

// h1 {
//   font-family: 'VT323', monospace;
//   font-size: 80px;
//   margin: 0;
// }

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(----backdrop-color);
  background-image: var(--backdrop-image-url);
  z-index: -1;
}

.attribution {
  a {
    color: var(--attribution-link-color);
  }
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 5px;
  z-index: -1;
}
.attribution.with-taskbar {
  bottom: var(--offset-for-navbar-height);
}

// .content {
//  height: 100%;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: space-around;
// }

// .main-content {
//   z-index: 5;
//   min-width: 670px;
//   width: min(calc(100% - 2px), calc(80ch + 40px));
//   flex-shrink: 0;
// }


// .content form {
//   margin: 20px;
//   /* transition: all 1s; */
// }

// .form-item {
//   height: 60px;
//   padding: 0;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .form-footer {
//   margin: 0 20px;
//   max-width: 590px;
// }
// .form-item, .form-item label, .form-item input {
//   transition: all 0.5s ease-in-out;
//   overflow: hidden;
//   box-sizing: border-box;
// }

// .form-item input, .form-item label {
//   height: 35px;
//   margin: 1px;
// }

// .form-item label {
//   padding-right: 5px;
// }

// .form-item input {
//   width: 400px;
//   padding-left: 5px;
//   margin-right: 10px;
//   flex-shrink: 0;
// }

.form-item input.with-feedback {
  padding-right: 30px;
}

.form-item-feedback {
  position: absolute;
  right: 15px;
  top: 14px;
  opacity: 0.5;
  cursor: pointer;
}

.form-feedback.error {
  color: var(--form-element-invalid-border-color);
}


.form-item.emoji > div {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing);
}

.form-item.emoji.hidden {
  height: 0;
}

// #registration-domain-cue {
//   position: absolute;
//   right: 5px;
// }

.hidden {
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.hidden label, .hidden input {
  height: 0;
}

.none {
  display: none;
}

.relative {
  position: relative;
  z-index: 0;
}

.fetching {
  cursor: progress !important;
}

.password-wrapper {
  scroll-margin: 30px;
}

.reveal-pass {
  position: absolute;
  top: 0px;
  width: calc(100% - 45px);
  background-color: #FFFE;
  margin: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
  overflow: hidden;
  white-space: nowrap;
}

.reveal-pass .emoji-mart-emoji {
  vertical-align: middle;
}

// /* to make alignment easier */
// .handle-bracket {
//   display: inline-block;
//   width: 10px;
// }

// /* okay we're all sick of the flicker */
// .aesthetic-effect-crt::after {
//   animation: none !important;
// }

// .aesthetic-windows-95-taskbar {
//   position: fixed;
//   bottom: 0;
//   right: 0;
//   left: 0;
//   z-index: 10;
//   height: 35px;
//   width: auto;
// }

// .aesthetic-windows-95-taskbar .aesthetic-windows-95-taskbar-start {
//   padding: 0;
//   width: auto;
// }

// .aesthetic-windows-95-taskbar .aesthetic-windows-95-taskbar-start button,
// .aesthetic-windows-95-taskbar .aesthetic-windows-95-taskbar-start a,
// .aesthetic-windows-95-taskbar .aesthetic-windows-95-taskbar-start a:visited {
//   padding: 4px;
//   text-decoration: none;
//   color: #000;
// }

// .aesthetic-windows-95-taskbar-services > * {
//   margin-right: 4px;
// }
// .aesthetic-windows-95-taskbar-services > *:last-child {
//   margin-right: 0;
// }

.immers-icon {
  width: 28px;
  height: 28px;
  vertical-align: bottom;
  margin-right: 10px;
}

.provider-logins {
  display: flex;
  flex-direction: column;
}

// @media (prefers-reduced-motion: reduce) {
//   .aesthetic-effect-crt::after,
//   .aesthetic-effect-text-glitch::before,
//   .aesthetic-effect-text-glitch::after {
//     animation: none !important;
//   }
// }

// @media screen and (max-width: 679px) {
//   body, html, .content {
//     height: unset;
//   }
//   h1 {
//     font-size: 40px;
//   }
//   .main-content {
//     min-width: unset;
//     width: calc(100% - 2px);
//     margin-left: 0;
//     margin-right: 0;
//     padding-left: 0;
//     padding-right: 0;
//   }
//   .form-item {
//     height: auto;
//     flex-wrap: wrap;
//   }
//   .form-item input, .form-item input.handle, .home-label {
//     width: calc(100vw - 40px);
//   }
//   .reveal-pass {
//     width: calc(100vw - 75px);
//   }
//   .handle-bracket {
//     display: none;
//   }
//   /* #immer {
//     width: calc(100vw - 60px);
//   } */
  .form-item.hidden {
    height: 0;
  }
//   .form-footer, .content form {
//     margin: 0;
//   }
//   .form-item .home-label {
//     display: block;
//   }
//   .aesthetic-windows-95-button {
//     margin-top: 5px;
//   }
//   .main-content {
//     margin-bottom: 45px;
//   }
// }

:root {
  /** pico CSS tweaks **/
  --spacing: 0.5rem;
  /** new variables **/
  --nav-background-color: var(--background-color);
  --nav-box-shadow: var(--card-box-shadow);
  --tab-border-radius: var(--border-radius);
  --emoji-button-spacing: var(--spacing);
  --emoji-button-background-color: transparent;
  --emoji-button-color: var(--secondary);
  --emoji-button-border-color: var(--secondary);
  --attribution-link-color: var(--secondary);
  --offset-for-navbar-height: 3.5rem;
}

#app > nav {
  z-index: 99;
  position: fixed;
  inset: auto 0 0 0;
  background-color: var(--nav-background-color);
  box-shadow: var(--nav-box-shadow);
}

nav ul.navbar-actions {
  /* split the nav spacing between inside/ouside of border */
  --nav-element-spacing-vertical: 0.5rem;
  margin: var(--nav-element-spacing-vertical) 0;
  border: var(--border-width) solid var(--secondary);
  border-radius: var(--border-radius);
}

main.with-taskbar {
  margin-bottom: calc(var(--offset-for-navbar-height) + 0.5rem);
}

/* avoid doubling spacing */
article:first-child {
  margin-top: 0;
}
article:last-child {
  margin-bottom: 0;
}

// main ui card header doesn't need so much emphasis
main > article > header {
  --nav-element-spacing-vertical: 0;
  h2 {
    --typography-spacing-vertical: 0;
    --font-size: 1rem;
  }
}


/*** app design ***/
$mobile-cutoff: 768px;

body {
  width: 100%;
  @media screen and (max-width: $mobile-cutoff) {
    margin: 0;
  }
}

section[data-label] {
  position: relative;
  border: var(--border-width) solid var(--secondary);
  border-radius: var(--border-radius);
  color: var(--secondary);
  padding: var(--block-spacing-vertical) var(--block-spacing-horizontal);
  &::before {
    content: attr(data-label);
    position: absolute;
    top: -0.75rem;
    left: 0.5rem;
    background-color: var(--background-color);
    padding: 0 var(--spacing);
  }
}

fieldset.outline {
  border: var(--border-width) solid var(--secondary);
  border-radius: var(--border-radius);
  padding: var(--spacing) var(--block-spacing-horizontal);
  legend {
    padding: 0 var(--spacing);
  }
}

.flex {
  display: flex;
}

/* immers handle input */
.handle-input {
  .handle-bracket {
    align-self: center;
    padding: 0 var(--outline-width);
    margin-bottom: var(--spacing);
    @media screen and (max-width: $mobile-cutoff) {
      display: none;
    }
  }

  .home-label {
    display: none;
    @media screen and (max-width: $mobile-cutoff) {
      display: block;
    }
  }

  .flex {
    @media screen and (max-width: $mobile-cutoff) {
      flex-direction: column;
    }
  }
}

nav.tabs {
  --nav-element-spacing-vertical: var(--nav-element-spacing-horizontal);
  flex-wrap: wrap;
  justify-content: flex-start;
  .tab {
    width: auto;
    flex-grow: 1;
    border-radius: var(--tab-border-radius) var(--tab-border-radius) 0 0;
    padding: var(--nav-element-spacing-vertical) var(--nav-element-spacing-horizontal);
    font-size: 0.75rem;
    border-bottom: none;
    margin-bottom: 0;
    &.is-active {
      --box-shadow: none;
    }
    &:not(.is-active) + .tab:not(.is-active) {
      border-left: var(--border-width) solid var(--muted-border-color);
    }
  }
  & + section {
    border: var(--border-width) solid var(--contrast);
    border-top: none;
    padding: var(--block-spacing-vertical) var(--block-spacing-horizontal);
  }
}
