@import 'aesthetic-css/src/index.scss';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body, input {
  font-family: 'VT323', monospace;
  font-size: 24px;
}

h1 {
  font-family: 'VT323', monospace;
  font-size: 80px;
  margin: 0;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #a6549d;
  z-index: -1;
}

.error {
  color: #FF6AD5;
}


.attribution {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 5px;
  z-index: 0;
}

.content {
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
}

.main-content {
  z-index: 5;
  min-width: 670px;
  flex-shrink: 0;
}

.content form {
  margin: 20px;
  /* transition: all 1s; */
}

.form-item {
  height: 60px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-footer {
  margin: 0 20px;
  max-width: 590px;
}
.form-item, .form-item label, .form-item input {
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  box-sizing: border-box;
}

.form-item input, .form-item label {
  height: 35px;
  margin: 1px;
}

.form-item label {
  padding-right: 5px;
}

.form-item input {
  width: 400px;
  padding-left: 5px;
  margin-right: 10px;
  flex-shrink: 0;
}

.form-item input.with-feedback {
  padding-right: 30px;
}

.form-item-feedback {
  position: absolute;
  right: 15px;
  top: 5px;
  opacity: 0.5;
  cursor: pointer;
}

.form-item input.handle {
  width: 195px;
  margin-right: 0;
  margin-left: 0;
}

.form-item.emoji {
  height: 430px;
  justify-content: center;
}

.form-item.emoji.hidden {
  height: 0;
}

#registration-domain-cue {
  position: absolute;
  right: 5px;
}

.hidden {
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.hidden label, .hidden input {
  height: 0;
}

.none {
  display: none;
}

.relative {
  position: relative;
}

.fetching {
  cursor: progress !important;
}

button[disabled] {
  color: #888;
  pointer-events: none;
}

.password-wrapper {
  scroll-margin: 30px;
}

.reveal-pass {
  position: absolute;
  top: 0;
  width: 365px;
  background-color: #FFFE;
  margin: 3px 6px;
}

.reveal-pass .emoji-mart-emoji {
  vertical-align: middle;
}

/* to make alignment easier */
.handle-bracket {
  display: inline-block;
  width: 10px;
}

/* okay we're all sick of the flicker */
.aesthetic-effect-crt::after {
  animation: none !important;
}

@media (prefers-reduced-motion: reduce) {
  .aesthetic-effect-crt::after,
  .aesthetic-effect-text-glitch::before,
  .aesthetic-effect-text-glitch::after {
    animation: none !important;
  }
}
